{% extends 'home.html' %}

{% load static %}

{% block main %}

<main>
    <section class="contenedor">
        <h2 class="titulo">Contacto</h2>
        <div class="contenedor-contacto">
            <div class="contenedor-texto">
                <p>Encontrá la información de contacto de Solarlink acá, o envianos un correo por <a href="mailto:info@solarlink.ar">info@solarlink.ar</a><br>También podrás encontrarnos en nuestra página de <a href="https://instagram.com/solarlink.ar" target="_blank">Instagram</a>.</p>
            </div>
            <form class="formulario" action="https://formsubmit.io/send/info@solarlink.ar" method="POST">
                <!--API: FormSubmit // Forma facil para manejar los mensajes -->
                <fieldset>
                    <div class="campo">
                        <input name="name" type="nombre" placeholder="Nombre" class="campo-text">
                    </div>
                    <div class="campo">
                        <input name="email" type="email" placeholder="Email" class="campo-text">
                    </div>
                    <div class="campo">
                        <textarea name="message" placeholder="Mensaje" class="campo-text-mensaje"></textarea>
                    </div>
                    <input class="btn btn-secondary" type="submit" value="Enviar">
                </fieldset>
            </form>
            
            <div class="contenedor Los-chicos-a-cargo">
                <div class="chicos">

                    <div class="imagen-chicos">
                        <a href="{% url 'contacto' %}"><img src="http://solarlink.ar/img/palmieri.png" alt=""></a>                       
                        <div class="contacto-logo">
                            <a href="https://www.linkedin.com/in/agust%C3%ADn-palmieri-hise-a72b39240" class="enlace_contacto" target="_blank"><img class="contacto_logo" src="img/linkedin.png" alt="linkedin" class="alumno_contacto"></a>
                            <a href="https://www.instagram.com/aguspalmieri780" class="enlace_contacto" target="_blank"><img class="contacto_logo" src="img/instagram.png" alt="instagram" class="alumno_contacto"></a>
                        </div>
                        <h3>Agustín Palmieri Hise</h3>
                    </div>          
                    <div class="imagen-chicos">
                        <a href="{% url 'contacto' %}"><img src="http://solarlink.ar/img/testa.png" alt=""></a>                       
                        <div class="contacto-logo">
                            <a href="https://www.linkedin.com/in/maximiliano-testa-34328426b" class="enlace_contacto" target="_blank"><img class="contacto_logo" src="img/linkedin.png" alt="linkedin" class="alumno_contacto"></a>
                            <a href="https://www.instagram.com/testa_45" class="enlace_contacto" target="_blank"><img class="contacto_logo" src="img/instagram.png" alt="instagram" class="alumno_contacto"></a>
                        </div>
                        <h3>Maximiliano Testa</h3>
                    </div>
                    <div class="imagen-chicos">
                        <a href="{% url 'contacto' %}"><img src="http://solarlink.ar/img/cenyko.png" alt=""></a>                        
                        <div class="contacto-logo">
                            <a href="https://www.linkedin.com/in/ivan-cenyko" class="enlace_contacto" target="_blank"><img class="contacto_logo" src="img/linkedin.png" alt="linkedin" class="alumno_contacto"></a>
                            <a href="https://www.instagram.com/ivancenyko" class="enlace_contacto" target="_blank"><img class="contacto_logo" src="img/instagram.png" alt="instagram" class="alumno_contacto"></a>
                        </div>
                        <h3>Iván Cenyko</h3>
                    </div>
                    <div class="imagen-chicos">
                        <a href="{% url 'contacto' %}"><img src="http://solarlink.ar/img/inza.png" alt=""></a>                        
                        <div class="contacto-logo">
                            <a href="https://www.linkedin.com/in/mateo-inza-fior-552245272" class="enlace_contacto" target="_blank"><img class="contacto_logo" src="img/linkedin.png" alt="linkedin" class="alumno_contacto"></a>
                            <a href="https://www.instagram.com/mateoinzafior" class="enlace_contacto" target="_blank"><img class="contacto_logo" src="img/instagram.png" alt="instagram" class="alumno_contacto"></a>
                        </div>
                        <h3>Mateo Inza Fior</h3>
                    </div>
                    <div class="imagen-chicos">
                        <a href="{% url 'contacto' %}"><img src="http://solarlink.ar/img/gil_soria.png" alt=""></a>
                        <div class="contacto-logo">
                            <a href="https://www.instagram.com/ian_gilsooor" class="enlace_contacto" target="_blank"><img class="contacto_logo" src="img/instagram.png" alt="instagram" class="alumno_contacto"></a>
                        </div>
                        <h3>Ian Gil Soria</h3>    
                    </div>
                    <div class="imagen-chicos">
                        <a href="{% url 'contacto' %}"><img src="http://solarlink.ar/img/adell.png" alt=""></a>
                        <div class="contacto-logo">
                            <a href="https://www.instagram.com/nicolas.adell" class="enlace_contacto" target="_blank"><img class="contacto_logo" src="img/instagram.png" alt="instagram" class="alumno_contacto"></a>
                        </div>
                        <h3>Nicolás Adell</h3>
                    </div>
                </div>
                <div class="texto-contacto">
                    <p><br></p>              
                </div>
            </div>

            
        </div>
    </section>
</main>

{% endblock %}