{% extends 'template.html' %}

{% load static %}

{% block main %}
<main>
    <div class="contenedor">
        
        <div class="contenedor-galeria">

            <div class="responsive">
                <div class="gallery">
                    <a target="_blank" href="static/img/IMG_8011.png">
                    <img src="static/img/IMG_8011.png" alt="8011" width="900" height="600">
                    </a>
                    <div class="desc"><p>Add a description of the image here</p></div>
                </div>
            </div>

            <div class="responsive">
                <div class="gallery">
                    <a target="_blank" href="static/img/IMG_8064.png">
                    <img src="static/img/IMG_8064.png" alt="8064" width="900" height="600">
                    </a>
                    <div class="desc"><p>Add a description of the image here</p></div>
                </div>
            </div>

            <div class="responsive">
                <div class="gallery">
                    <a target="_blank" href="static/img/IMG_8067.png">
                    <img src="static/img/IMG_8067.png" alt="8067" width="900" height="600">
                    </a>
                    <div class="desc"><p>Add a description of the image here</p></div>
                </div>
            </div>

            <div class="responsive">
                <div class="gallery">
                    <a target="_blank" href="static/img/IMG_8084.png">
                    <img src="static/img/IMG_8084.png" alt="8084" width="900" height="600">
                    </a>
                    <div class="desc"><p>Add a description of the image here</p></div>
                </div>
            </div>

        </div>

        <div class="clearfix"></div>

        <div class="contenedor-contacto">
            <div class="contenedor-texto">
                <h3>Podés encontrar más fotos de nuestro proyecto en nuestro <a href="https://instagram.com/solarlink.ar">Instagram</a></h3>
            </div>
        </div>
    </div>
</main>
{% endblock %}