{% extends 'form.html' %}

{% load compress static %}
{% load static %}

{% block head %}
  <title>Solar Link | Login</title>
  {% comment %}
      Compresor para poder usar static directions en el master.scss
  {% endcomment %}
  {% compress css %}
  <link rel="stylesheet" type="text/x-scss" href="{% static "user_mngmnt/css/master-login.scss" %}" />
  {% endcompress %}
{% endblock %}

{% block body %}

<body>

  <div class="login-box">  
    <img src="{% static 'user_mngmnt/img/logo-chico.png' %}" class="avatar" alt="Imagen logo">
    <h1>Iniciar sesión</h1>
    <form method = "POST" action="{% url 'login' %}">
      {% csrf_token %}
      <!--USUARIO-->
      {{ form.username }}
      <!-- CONTRASEÑA -->
      {{ form.password }}
      {{error}}
      <input type="submit" value="Ingresar">
      <a href="{% url 'signup' %}">Registrarse</a>
      <a href="{% url 'password_reset' %}">Olvidé mi contraseña</a>

    </form>
  </div>
</body>

{% endblock %}