{% extends 'form.html' %}

{% load compress static %}
{% load static %}

{% block head %}
  <title>Solar Link | Login</title>
  {% compress css %}
  <link rel="stylesheet" type="text/x-scss" href="{% static "user_mngmnt/css/master-login.scss" %}" />
  {% endcompress %}

{% endblock %}

{% block body %}

<body>

  <div class="login-box">
    <a href="{% url 'index' %}" class="imagen"><i class="fa fa-home fa-2x"></i></a>
    <img src="{% static 'user_mngmnt/img/logo-chico.png' %}" class="avatar" alt="Imagen logo">
    <h1>Iniciar sesión</h1>
    <form class=fomethod = "POST" action="{% url 'login' %}">
      {% csrf_token %}
      <!--USUARIO-->
      {{ form.username }}
      <!-- CONTRASEÑA -->
      {{ form.password }}
      {{error}}
      <input type="submit" value="Ingresar">
      <a class="si" href="{% url 'signup' %}">Registrarse</a>
      <a class="si" href="{% url 'password_reset' %}">Olvidé mi contraseña</a>
    </form>
  </div>
</body>

{% endblock %}