{% extends 'form.html' %}

{% block head %}
    <title>Login | Solar Link</title>
{% endblock %}

{% block titulo %}
    Iniciar sesión
{% endblock %}

{% block post %}{% url 'login' %}{% endblock %}

{% block campos %}
    <div class="wrap-input100">
        {% comment %} input {% endcomment %}
        {{form.username}}
        <span class="focus-input100" data-placeholder="Username"></span>
    </div>

    <div class="wrap-input100">
        <span class="btn-show-pass">
            <i class="zmdi zmdi-eye"></i>
        </span>
        {% comment %} input {% endcomment %}
        {{ form.password }}
        <span class="focus-input100" data-placeholder="Contraseña"></span>
    </div>

    {% comment %} código de error {% endcomment %}
    {{ error }}

    <div class="container-login100-form-btn">
        <div class="wrap-login100-form-btn">
            <div class="login100-form-bgbtn"></div>
            <button class="login100-form-btn" type="submit">
                Iniciar sesión
            </button>
        </div>
    </div>

    <div class="text-center p-t-90">
        <a class="txt2" href="{% url 'signup' %}">
            Registrarse
        </a>
        <a class="txt2" href="{% url 'password_reset' %}">
            Olvidé mi contraseña
        </a>
    </div>

{% endblock %}