{% extends 'message.html' %}

{% block head %}
    <title>Cambio de contraseña | Solar Link</title>
{% endblock %}

{% block titulo %}
    ¡Contraseña cambiada!
{% endblock %}

{% block content %}
    <div class="container-login100-form-btn">
        <div class="wrap-login100-form-btn">
            <div class="login100-form-bgbtn"></div>
            <a href="{% url 'login' %}">
                <button class="login100-form-btn">
                    Iniciar sesión
                </button>
            </a>
        </div>
    </div>
{% endblock %}