{% extends 'message.html' %}

{% block head %}
    <title>Cambio de contraseña | Solar Link</title>
{% endblock %}

{% block titulo %}
    Ya se envió el mail a tu casilla de correo.
{% endblock %}

{% block content %}
    <div class="container-login100-form-btn">
        <div class="wrap-login100-form-btn">
            <div class="login100-form-bgbtn"></div>
            <a href="{% url 'index' %}">
                <button class="login100-form-btn">
                    Volver a inicio
                </button>
            </a>
        </div>
    </div>
{% endblock %}