{% extends 'form.html' %}

{% block head %}
    <title>Cambio de contraseña | Solar Link</title>
{% endblock %}


{% block titulo %}
    {% if done %}
        ¡Listo!
    {% else %}
        Ingresá tu mail para cambiar la contraseña
    {% endif %}
{% endblock %}


{% block post %}{% url 'password_reset' %}{% endblock %}


{% block campos %}
        <div class="wrap-input100">
            <input class="input100" type="text" name="email">
            <span class="focus-input100" data-placeholder="Email"></span>
        </div>

        <div class="container-login100-form-btn">
            <div class="wrap-login100-form-btn">
                <div class="login100-form-bgbtn"></div>
                <button class="login100-form-btn" type="submit">
                    Cambiar contraseña
                </button>
            </div>
        </div>


{% endblock %}
