{% extends 'form.html' %}

{% block head %}
    <title>Cambio de contraseña | Solar Link</title>
{% endblock %}

{% block titulo %}
        Cambiar contraseña
{% endblock %}

{% block post %}"{% url 'password_set' %}{{token}}"{% endblock %}

{% block campos %}

    <div class="wrap-input100">
        <span class="btn-show-pass">
            <i class="zmdi zmdi-eye"></i>
        </span>
        {{form.password1}}
        <span class="focus-input100" data-placeholder="Contraseña"></span>
    </div>

    <div class="wrap-input100">
        <span class="btn-show-pass">
            <i class="zmdi zmdi-eye"></i>
        </span>
        {{form.password2}}
        <span class="focus-input100" data-placeholder="Repetir contraseña"></span>
    </div>
    {{error}}
    <div class="container-login100-form-btn">
        <div class="wrap-login100-form-btn">
            <div class="login100-form-bgbtn"></div>
            <button class="login100-form-btn" type="submit">
                Cambiar contraseña
            </button>
        </div>
    </div>

{% endblock %}