{% extends 'form.html' %}
{% load static %}
{% load compress static %}

<head>
  {% block head %}
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Solar Link | Registro</title>
    {% comment %}
        Compresor para poder usar static directions en el registro.scss
    {% endcomment %}
    {% compress css %}
    <link rel="stylesheet" type="text/x-scss" href="{% static "user_mngmnt/css/registro.scss" %}" />
    {% endcompress %}
  {% endblock %}
</head>

{% block body %}
  <body>
    <section class="form-register">
      <h4>Registrate!</h4>
      <form method = "POST" action="{% url 'signup' %}">
        {% csrf_token %}
        {{form.first_name}}
        {{form.last_name}}
        {{form.email}}
        {{form.username}}
        {{form.password1}}
        {{form.password2}}
        {{error}}
        <input class="botons" type="submit" value="Registrarse">
      <form method = "POST" action="{% url 'login' %}">
      <p><a href="{% url 'login' %}">Ya tengo cuenta</a></p>
    </section>

  </body>
{% endblock %}

    

