
{% load static %}

<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>SL-Resgitrarse </title>
<link rel="shortcut icon" href="{% static 'general/img/favicon-32x32.png' %}" type="image/x-icon">
<link rel="stylesheet" href="{% static 'home/css/normalice.css' %}">

<h1> Registro </h1>
<form method = "POST" action="{% url 'signup' %}">
    {% csrf_token %}
    <br/>
    {{ form.first_name.label }}
    <br/>
    {{ form.first_name }}
    <br/>
    {{ form.last_name.label }}
    <br/>
    {{ form.last_name }}
    <br/>
    {{ form.email.label }}
    <br/>
    {{ form.email }}
    <br/>
    {{ form.username.label }}        
    <br/>
    {{ form.username }}
    <br/>
    {{ form.password1.label }}
    <br/>
    {{ form.password1 }}
    <br/>
    {{ form.password2.label }}
    <br/>
    {{ form.password2 }}
    <br/>
    <input class ="btn btn-primary" type="submit" value= "Registrarse" />
    <br/>
    {{error}}

    

