{% extends 'template.html' %}

{% load static %}

{% block main %}
<main>
    <section class="contenedor acerca-del-proyecto">
        <h2 class="titulo">Nuestro proyecto</h2>
        <div class="contenedor-que-somos">
            <div class="contenedor-texto">
                <h3>¿Qué es Solar Link?</h3>
            </div>
            <div class="contenedor-texto">
                <p>Solar Link es un gestor inteligente de electricidad (smart grid) que, mediante energía solar, ahorra consumo eléctrico alimentando partes de la casa con energías renovables.</p>
            </div>
            <div class="contenedor-texto">
                <p>Mide el consumo hogareño, alimentando todo lo que puede con energía solar, evitando así el uso de electricidad proveniente de la red eléctrica</p>
            </div>
            <div class="contenedor-texto">
                <p>Está conformado por un tablero conectado a la térmica de la casa, paneles solares, baterías y una web y app para saber el consumo y configurarlo</p>
            </div>
            <div class="contenedor-texto">
                <p>Te permite saber y controlar el consumo de tu casa, ahorrar en la factura de luz, y reducir el uso de energía que aumenta el cambio climático al ser generada</p>
            </div>
        </div>
    </section>
</main>
{% endblock %}