{% extends 'template.html' %}

{% load static %}

{% block main %}
<main>
    <section class="contenedor acerca-del-proyecto">
        <h2 class="titulo">Nuestro proyecto</h2>
        <div class="contenedor-que-somos">
            <div class="contenedor-texto">
                <h3>¿Qué es Solar Link?</h3>
            </div>
            <div class="contenedor-texto">
                <p>Solar Link es un sistema inteligente que optimiza el uso de una energía renovable (por ejemplo, energía solar mediante paneles solares), de manera tal que siempre intentará usar toda la capacidad instalada para ahorrar energía y no consumirla de la red. Es un sistema microprocesado, con conexión a internet y adicionalmente se diseñará una aplicación que  le comunicará al usuario si está ahorrando, cuanto ahorró y una estimación de cuanto ahorrará según el pronóstico del clima.</p>
            </div>
            <div class="contenedor-texto">
                <p>Dentro los sistemas solares, existen los sistemas On-grid y Off-grid, mientras que Solar Link es un SMART-GRID que combina ambos tipos. Este equipo monitorea constantemente el consumo de las líneas eléctricas del hogar y mientras pueda alimentarlas con energía renovables, lo hará posible.</p>
            </div>
            <div class="contenedor-texto">
                <p>La aplicación móvil que queremos desarrollar le comunicará al usuario toda la información recopilada sobre la red eléctrica. Por ejemplo, podría informar en tiempo real el consumo de la casa, que parte del consumo total de la casa fue proporcionado por energías renovables, o recomendaciones para incrementar el ahorro de energía. De esta manera, el usuario sabrá con certeza el aporte del sistema de energías renovables en el que invirtió.</p>
            </div>
            <div class="contenedor-texto">
                <p>Consideramos que nuestro proyecto aporta fuertemente a reducir la huella de carbono, ahorrar dinero e incentivar al usuario al uso de este tipo de energías que poco se habla y poco uso hay en Argentina.</p>
            </div>
            <div class="contenedor-texto">
                <p>Nosotros nos encargamos del diseño y la planificación de los diferentes sistemas que forman parte de Solar Link, como el desarrollo íntegro de las placas y los circuitos, la programación del microprocesador, así como la aplicación en su totalidad. Esto conlleva mucho trabajo y esfuerzo de nuestra parte, puesto que siempre buscamos la excelencia en todo lo que hacemos.</p>
            </div>
        </div>
    </section>
</main>
{% endblock %}