{% load static %}

<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Solar Link® - Inicio</title>
    <link rel="shortcut icon" href='{% static "pagina/Logo/solarlink_logo.png" %}' type="image/x-icon">
    <link rel="stylesheet" href='{% static "pagina.css" %}'>
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap" rel="stylesheet">
</head>
<body>
    <header>
        <section class="logo">
            <a href="{% url 'index' %}"><img src='{% static "pagina/Logo/solarlink_logo_negro.png" %}' alt="" class="logo"></a>
        </section>
        <section class="textos-indice">
            <h1><a href="{% url 'que_somos' %}">Qué somos</a></h1>
            <h1><a href="{% url 'galeria' %}">Galería</a></h1>
            <h1><a href="{% url 'contacto' %}">Contacto</a></h1>
        </section>
    </header>
    {% block main %}
    {% endblock %}
    <footer>
        <div class="contenedor-footer">
            <div class="content-foot">
                <h4>Instagram</h4>
                <a href="https://www.instagram.com/solarlink.ar/">@solarlink.ar</a>
            </div>
            <div class="content-foot">
                <h4>Mail</h4>
                <p><a href="mailto:info@solarlink.ar">info@solarlink.ar</a></p>
            </div>
        </div>
        <h2 class="titulo-final">&copy; Solar Link</h2>
    </footer>
</body>
</html>