{% block main %}

    <h1>INSERTE DATOS</h1>
    <form method = "POST" action="{% url 'data' %}">
        {% csrf_token %}
        ID de producto
        <br/>
        <input type="text" name="product_id" />
        <br/>
        Consumo
        <br/>
        <input type="text" name="consumo" />
        <br/>
        Voltaje
        <br/>
        <input type="text" name="voltaje" />
        <br/>
        <br/>
        <input class ="btn btn-primary" type="submit" value= "Anadir" />
        <br/>

        {{error}}
{% endblock %}
