{% load static %}

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Solar Link-Galería</title>
    <link rel="stylesheet" href="{% static 'home/css/galeria.css' %}" >
</head>

<body>
<h1>  Galería </h1>

<span class="linea"><span/>
<section class="galeria">
<a href="" src= "#imagen1">
    <img src= "{% static 'home/img/galeria-2.png' %}" alt="">
</a>
<a href="" src= "#imagen1">
    <img src= "{% static 'home/img/Galeria-6.png' %}" alt="">
</a>
<a href="" src= "#imagen1">
    <img src= "{% static 'home/img/IMG_8011.png' %}" alt="">
</a>
<a href="" src= "#imagen1">
    <img src= "{% static 'home/img/galeria-8.png' %}" alt="">
</a>
<a href="" src= "#imagen1">
    <img src= "{% static 'home/img/Galeria-4.png' %}" alt="">
</a>
<a href="" src= "#imagen1">
    <img src= "{% static 'home/img/Galeria-1.png' %}" alt="">
</a>
</section>

</body>