{% load static %}

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Solar Link-Galería</title>
    <link rel="stylesheet" href="{% static 'home/css/galeria.css' %}" >
</head>

<body>
    <h1>Galería</h1>    <span class="linea"></span>
    <a href="index.html" class="atras"></a><i class="fa-solid fa-arrow-right"></i> </a>
    <section class="galeria">
         <!--fotos normalitas-->
        <a href="" id="g1">
            <img src="static/home/img/IMG_1.png" alt="">
        </a>
        <a href="g2" >
            <img src="static/home/img/IMG_8067.png" alt="">
        </a>
        <a href="g3" >
            <img src="static/home/img/galeria-13.png" alt="">
        </a>
        <a href="g7" >
            <img src="static/home/img/galeria-16.png" alt="">
        </a>
        <a href="g4" >
            <img src="static/home/img/fotoequipo.png" alt="">
        </a>
        <a href="g5" >
            <img src="static/home/img/IMG_8084.png" alt="">
        </a>
        <a href="g6" >
            <img src="static/home/img/galeria-14.png" alt="">
        </a>
        <a href="g8" >
            <img src="static/home/img/galeria-15.png" alt="">
        </a>
        <a href="g9" >
            <img src="static/home/img/galeria-7.png" alt="">
        </a>
    </section> 

 <!--Parte de zoom-->
<article class="zoom-foto" id="g1">
    <a href="" class="next"></a>
    <img src="static/home/img/IMG_1.png" alt="">
    <a href="" class="next"></a>
    <a href="g1"></a>
</article>
</body>
