{% extends "home.html" %}

{% load static %}

{% block head %}
{% endblock %}

{% block header %}
    <section class="hero__container container">
        <h1 class="hero__title">¿Qué es Solar Link?</h1>
        <p class="hero__paragraph">Solar Link es un administrador de energia inteligente que usando un sistema de switcheo y un smart grid logra, de manera rapida y eficiente, ahorrar energia y disminuir el consumo del hogar.</p>
        <a href="#about" class="cta">Conocé más</a>
    </section>
    
{% endblock %}

{% block main %}
    <main>
        <section id="pregf" class="container about">
            <h2 class="subtitle">Preguntas frecuentes</h2>
            <p class="about__paragraph">A continuación ampliaremos más sobre el proyecto, explicando algunas dudas frecuentes </p>

            <div class="about__main">
                <article class="about__icons">
                    <img src="{% static 'home/img/casita.png' %}" class="about__icon">
                    <h3 class="about__title">¿Cuál es su función?</h3>
                    <p class="about__paragrah">El dispositivo mide el consumo hogareño y alimenta partes de la casa con energía solar, evitando el uso de electricidad proveniente de la red eléctrica.</p>
                </article>

                <article class="about__icons">
                    <img src="{% static 'home/img/celu.png' %}" class="about__icon">
                    <h3 class="about__title">¿Cómo se compone?</h3>
                    <p class="about__paragrah">Es un tablero que se conecta térmica de la casa, además de paneles solares, baterías y una app para saber tu consumo y configurarlo!</p>
                </article>

                <article class="about__icons">
                    <img src="{% static 'home/img/factura.png' %}" class="about__icon">
                    <h3 class="about__title">¿Por qué?</h3>
                    <p class="about__paragrah">Aparte de ser muy bueno para el medio ambiente, Solar Link te permite controlar y ser dueño de tu consumo, a la vez que ahorrás en la factura de la luz! </p>
                </article>
            </div>

            <section id="about" class="container about">
                <h2 class="subtitle">Conocé más</h2>
                <p class="about__paragraph">A continuación ampliaremos más sobre el proyecto, explicando algunas dudas frecuentes </p>

            <div class="about__main">
                <article class="about__icons">
                    <h3 class="about__title">Sobre nosotros</h3>
                    <p class="about__paragrah">Solar Link 2023 consiste en la aplicación particular de una red híbrida, permitiendo utilizar la red eléctrica de un proveedor tradicional junto a fuentes de energía renovable. Solar Link 2023 no incluye paneles solares o la batería de los paneles ni provee soporte para la instalación de los mismos.</p>
                </article>

                <article class="about__icons">
                    <h3 class="about__title">¿Qué lo compone?</h3>
                    <p class="about__paragrah">Su producto Solar Link 2023 consiste de los siguientes componentes: Tablero de equipamiento electrónico, llave de plástico del tablero, cargador MPPT para la batería del panel solar, cable micro USB, manual de instrucciones en español</p>
                </article>

                <article class="about__icons">
                    <h3 class="about__title">Linea del hogar</h3>
                    <p class="about__paragrah">El producto Solar Link 2023 está preparado para gestionar dos líneas separadas en su hogar. 
                        En caso de tener una sóla línea única para todo el edificio, contáctese con nuestro soporte y le indicaremos los pasos a seguir junto a su electricista matriculado.
                        En caso de tener más de dos líneas en el edificio, contáctese con nuestro soporte y le ofreceremos el servicio de adaptación del producto a la cantidad de líneas necesar
                         </p>
                </article>
            </div>
        </section>

            
        <section class="container about">
            <h2 class="subtitle">¿Quienes somos?</h2>

            <div class="about__main">
                <article class="about__icons">
                    <img src="{% static 'home/img/ceniko.png' %}" class="about__icon">
                    <h3 class="about__title">CENYKO, Ivan</h3>
                    <a href="https://www.linkedin.com/in/ivan-cenyko/" target="_blank" class="footer__icons"><img src="{% static 'home/img/linkediin.svg' %}" class="footer__img"></a>
                </article>

                <article class="about__icons">
                    <img src="{% static 'home/img/inza.png' %}" class="about__icon">
                    <h3 class="about__title">INZA FIOR, Mateo</h3>
                    <a href="https://www.linkedin.com/in/mateoinzafior/" target="_blank" class="footer__icons"><img src="{% static 'home/img/linkediin.svg' %}" class="footer__img"></a>
                </article>

                <article class="about__icons">
                    <img src="{% static 'home/img/palmieri.png' %}" class="about__icon">
                    <h3 class="about__title">PALMIERI HISE, Agustin</h3>
                    <a href="https://www.linkedin.com/in/agustin-palmieri-hise" target="_blank" class="footer__icons"><img src="{% static 'home/img/linkediin.svg' %}" class="footer__img"></a>
                </article>

                <article class="about__icons">
                    <img src="{% static 'home/img/testa.png' %}" class="about__icon">
                    <h3 class="about__title">TESTA, Maximiliano</h3>
                    <a href="https://www.linkedin.com/in/maximiliano-testa/" target="_blank" class="footer__icons"><img src="{% static 'home/img/linkediin.svg' %}" class="footer__img"></a>
                </article>
                <article class="about__icons">
                    <img src="{% static 'home/img/paloma.png' %}" class="about__icon">
                    <h3 class="about__title">DIAS, Lara Paloma</h3>
                    <a href="https://www.linkedin.com/in/lara-paloma-dias-598bb9288/" target="_blank" class="footer__icons"><img src="{% static 'home/img/linkediin.svg' %}" class="footer__img"></a>
                </article>
                <article class="about__icons">
                    <img src="{% static 'home/img/adell.png' %}" class="about__icon">
                    <h3 class="about__title">ADELL, Nicolas</h3>
                    <a href="" target="_blank" class="footer__icons"><img src="{% static 'home/img/linkediin.svg' %}" class="footer__img"></a>
                </article>
                <article class="about__icons">
                    <img src="{% static 'home/img/gilsoria.png' %}" class="about__icon">
                    <h3 class="about__title">GIL SORIA, Ian</h3>
                    <a href="" target="_blank" class="footer__icons"><img src="{% static 'home/img/linkediin.svg' %}" class="footer__img"></a>
                </article>
            </div>
        </section>
    </main>

{% endblock %}