<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Solar Link | Login </title>
    <link rel="shortcut icon" href="{% static "/general/img/favicon-32x32" %}" type="image/x-icon">
    <link rel="stylesheet" href="{% static  "/user_mngmnt/css/confirmaiocnes.css"%}">
  </head>
  <body>
   
    <div class="login-box">
        
      <img src=".png" class="avatar" alt="Imagen logo">
      <h1>CONFIRMÁ TU MAIL </h1>
      <h2>Por favor clickea en el boton para validar tu mail y confirmar que sos dueño de esta cuenta.  </h2>

        <input type="submit" value="Confirmar mail">
       <a href="#">El link expirará en 2h</a>
</div>
  </body>
</html>