<!DOCTYPE html>
<html lang="en">
{% load static %}
<head>
    <meta charset="utf-8">
    <title>SolarLink</title>
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <meta content="" name="keywords">
    <meta content="" name="description">

    <!-- Favicon -->
    <link href="{% static 'general/img/favicon-32x32.png' %}" rel="icon">

    <!-- Google Web Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Heebo:wght@400;500&family=Jost:wght@500;600;700&display=swap" rel="stylesheet"> 

    <!-- Icon Font Stylesheet -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.0/css/all.min.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.1/font/bootstrap-icons.css" rel="stylesheet">

    <!-- Libraries Stylesheet -->
    <link href="{% static 'user_mngmnt/lib/animate/animate.min.css' %}" rel="stylesheet">
    <link href="{% static 'user_mngmnt/lib/owlcarousel/assets/owl.carousel.min.css' %}" rel="stylesheet">

    <!-- Customized Bootstrap Stylesheet -->
    <link href="{% static 'user_mngmnt/css/bootstrap.min.css' %}" rel="stylesheet">

    <!-- Template Stylesheet -->
    <link href="{% static 'user_mngmnt/css/style.css' %}" rel="stylesheet">

    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
</head>

<body data-bs-spy="scroll" data-bs-target=".navbar" data-bs-offset="51">
    <div class="container-xxl bg-white p-0">
        <!-- Spinner Start -->
        <div id="spinner" class="show bg-white position-fixed translate-middle w-100 vh-100 top-50 start-50 d-flex align-items-center justify-content-center">
            <div class="spinner-grow text-primary" style="width: 3rem; height: 3rem;" role="status">
                <span class="sr-only">Loading...</span>
            </div>
        </div>
        <!-- Spinner End -->


        <!-- Navbar & Hero Start -->
        <div class="container-xxl position-relative p-0" id="home">
            <nav class="navbar navbar-expand-lg navbar-light px-4 px-lg-5 py-3 py-lg-0">
                <a href="" class="navbar-brand p-0">
                    <h1 class="m-0">SolarLink</h1>
                    <!-- <img src="img/logo.png" alt="Logo"> -->
                </a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse">
                    <span class="fa fa-bars"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarCollapse">
                    <div class="navbar-nav mx-auto py-0">
                        <a href="#home" class="nav-item nav-link active">Inicio</a>
                        <a href="#estado_actual" class="nav-item nav-link">Estado actual</a>
                        <a href="#datos_ahorro" class="nav-item nav-link">Ahorro</a>
                        <a href="#configuracion" class="nav-item nav-link">Configuracion</a>
                        <a href="#contact" class="nav-item nav-link">Contacto</a>
                    </div>
                    <a href="" class="btn btn-primary rounded-pill py-2 px-4 ms-3 d-none d-lg-block">Usuario</a>
                </div>
            </nav>

            <div class="container-xxl bg-primary hero-header">
                <div class="container px-lg-5">
                    <div class="row g-5">
                        <div class="col-lg-8 text-center text-lg-start">
                            <h1 class="text-white mb-4 animated slideInDown">Bienvendio {{user.username}} !</h1>
                            <p class="text-white pb-3 animated slideInDown">En esta pagina podra controlar y consultar aspectos de su unidad de Solar Link!</p>
                            <a href="" class="btn btn-primary py-sm-3 px-4 px-sm-5 rounded-pill me-3 animated slideInLeft">Mi Solar Link</a>
                            <a href="" class="btn btn-secondary-gradient py-sm-3 px-4 px-sm-5 rounded-pill animated slideInRight">puto</a>
                        </div>
                        <div class="col-lg-4 d-flex justify-content-center justify-content-lg-end wow fadeInUp" data-wow-delay="0.3s">
                            <div class="owl-carousel screenshot-carousel">
                                <img class="img-fluid" src="{% static 'img/fotocarrusel2.png' %}" alt="">
                                <img class="img-fluid" src="{% static 'img/fotocarrusel1.png' %}" alt="">
                                <img class="img-fluid" src="{% static 'user_mngmnt/img/screenshot-3.png' %}" alt="">
                                <img class="img-fluid" src="{% static 'user_mngmnt/img/screenshot-4.png' %}" alt="">
                                <img class="img-fluid" src="{% static 'user_mngmnt/img/screenshot-5.png' %}" alt="">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Navbar & Hero End -->
        <!-- Features Start -->
        <div class="container-xxl py-5" id="estado_actual">
            <div class="container py-5 px-lg-5">
                <div class="text-center wow fadeInUp" data-wow-delay="0.1s">
                    <h1 class="mb-5">Estado Actual</h1>
                </div>
                <div class="row g-4">
                    <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.3s">
                        <div class="feature-item bg-light rounded p-4">
                            <div class="d-inline-flex align-items-center justify-content-center bg-secondary-gradient rounded-circle mb-4" style="width: 60px; height: 60px;">
                                <i class="fa fa-bolt text-white fs-4"></i>
                            </div>
                            <h5 class="mb-3">Porcentaje actual bateria</h5>
                            <p class="m-0">Erat ipsum justo amet duo et elitr dolor, est duo duo eos lorem sed diam stet diam sed stet lorem.</p>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.5s">
                        <div class="feature-item bg-light rounded p-4">
                            <div class="d-inline-flex align-items-center justify-content-center bg-primary-gradient rounded-circle mb-4" style="width: 60px; height: 60px;">
                                <i class="fa fa-plug text-white fs-4"></i>
                            </div>
                            <h5 class="mb-3">Consumo actual</h5>
                            <p class="m-0">Erat ipsum justo amet duo et elitr dolor, est duo duo eos lorem sed diam stet diam sed stet lorem.</p>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.1s">
                        <div class="feature-item bg-light rounded p-4">
                            <div class="d-inline-flex align-items-center justify-content-center bg-secondary-gradient rounded-circle mb-4" style="width: 60px; height: 60px;">
                                <i class="fa fa-sun text-white fs-4"></i>
                            </div>
                            <h5 class="mb-3">Sistema</h5>
                            <p class="m-0">Erat ipsum justo amet duo et elitr dolor, est duo duo eos lorem sed diam stet diam sed stet lorem.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Features End -->

        <!-- About Start -->
        <div class="container-xxl py-5" id="datos_ahorro">
            <div class="container py-5 px-lg-5">
                <div class="row g-5 align-items-center">
                    <div class="wow fadeInUp" data-wow-delay="0.1s">
                        <h5 class="text-primary-gradient fw-medium">Ahorro</h5>
                        <h1 class="mb-4">Ahorro generado ultimos 7 dias</h1>
                        <p class="mb-4">Diam dolor diam ipsum et tempor sit. Aliqu diam amet diam et eos labore. Clita erat ipsum et lorem et sit, sed stet no labore lorem sit clita duo justo eirmod magna dolore erat amet</p>
                        <div class="row g-4 mb-4">
                            <div class="col-sm-6 wow fadeIn" data-wow-delay="0.5s">
                                <div class="d-flex">
                                    <i class="fa fa-lightbulb fa-2x text-primary-gradient flex-shrink-0 mt-1"></i>
                                    <div class="ms-3">
                                        <h2 class="mb-0" data-toggle="counter-up">750</h2>
                                        <p class="text-primary-gradient mb-0">KW/h consumido</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-6 wow fadeIn" data-wow-delay="0.7s">
                                <div class="d-flex">
                                    <i class="fa fa-percent fa-2x text-secondary-gradient flex-shrink-0 mt-1"></i>
                                    <div class="ms-3">
                                        <h2 class="mb-0" data-toggle="counter-up">67</h2>
                                        <p class="text-secondary-gradient mb-0">Ahorro en porcentaje</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-6 wow fadeIn" data-wow-delay="0.5s">
                                <div class="d-flex">
                                    <i class="fa fa-solar-panel fa-2x text-primary-gradient flex-shrink-0 mt-1"></i>
                                    <div class="ms-3">
                                        <h2 class="mb-0" data-toggle="counter-up">500</h2>
                                        <p class="text-primary-gradient mb-0">KW/h generado</p>
                                    </div>
                                </div>
                            </div>
                            <canvas id="ahorro" style="width: 100%; max-width: 1000px;"></canvas>
                            <h1 class="mb-4">Ahorro anual</h1>
                            <canvas id ="anual" style="width: 100%; max-width: 1000px;"></canvas>
                            <h5 class="text-primary-gradient fw-medium">Bateria</h5>
                            <h1 class="mb-4">Uso de bateria ultima semana</h1>
                            <div class="col-sm-6 wow fadeIn" data-wow-delay="0.5s">
                                <div class="d-flex">
                                    <i class="fa fa-sun fa-2x text-primary-gradient flex-shrink-0 mt-1"></i>
                                    <div class="ms-3">
                                        <h2 class="mb-0" data-toggle="counter-up">15</h2>
                                        <p class="text-primary-gradient mb-0">porcentaje generado</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-6 wow fadeIn" data-wow-delay="0.5s">
                                <div class="d-flex">
                                    <i class="fa fa-chart-line fa-2x text-primary-gradient flex-shrink-0 mt-1"></i>
                                    <div class="ms-3">
                                        <h2 class="mb-0" data-toggle="counter-up">-2.8</h2>
                                        <p class="text-primary-gradient mb-0">porcentaje adquirido</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-6 wow fadeIn" data-wow-delay="0.5s">
                                <div class="d-flex">
                                    <i class="fa fa-fire fa-2x text-primary-gradient flex-shrink-0 mt-1"></i>
                                    <div class="ms-3">
                                        <h2 class="mb-0" data-toggle="counter-up">17.8</h2>
                                        <p class="text-primary-gradient mb-0">porcentaje utilizado</p>
                                    </div>
                                </div>
                            </div>
                            <canvas id="bateria" style="width: 100%; max-width: 1000px;"></canvas>

                            <script>
                                const xValues = ['Dia 1', 'Dia 2', 'Dia 3', 'Dia 4', 'Dia 5', 'Dia 6', 'Dia 7'];
                                const yValuesc = [10,15,25,30,21,14,30];
                                const yValuesg = [5,10,20,15,18,15,20];
                                const yAnualc = [800,760,860,670,500,600,780,700,500,600,580,670];
                                const yAnualg = [400,420,460,350,300,250,300,280,320,350,360,390];
                                const xBat = ["Consumo en porcentaje"];
                                const xAnual = ["Enero", "Febrero", "Marzo", "Mayo", "Abril", "Junio", "Julio", "Agosto", "Septiembre", "Octubre", "Noviembre", "Diciembre"];
                                new Chart("ahorro", {
                                  type: "line",
                                  data: {
                                    labels: xValues,
                                    datasets: [{
                                      label: "KW/h consumo",
                                      fill: false,
                                      pointRadius: 1,
                                      borderColor: "rgba(255,0,0,0.5)",
                                      data: yValuesc
                                    },
                                    {
                                      label: "KW/h generado",
                                      fill: false,
                                      pointRadius: 1,
                                      borderColor: "rgba(178,222,39,0.8)",
                                      data: yValuesg
                                    }]
                                  },    
                                  options: {
                                    legend: {
                                      display: true, 
                                    },
                                    title: {
                                      display: true,
                                      text: "Ahorro",
                                      fontSize: 16
                                    }
                                  }
                                });
                                new Chart("bateria", {
                                  type: "bar",
                                  data: {
                                    labels: xBat,
                                    datasets: [{
                                      label: "Consumo utilizado",
                                      backgroundColor: "rgba(255,0,0,0.5)",
                                      data: [17.8]
                                    },
                                    {
                                      label: "Consumo generado",
                                      backgroundColor: "rgba(178,222,39,0.8)",
                                      data: [15]
                                    }]
                                  },    
                                  options: {
                                    indexAxis: 'y',
                                    legend: {
                                      display: true, 
                                    },
                                    title: {
                                      display: true,
                                      text: "Porcentaje bateria",
                                      fontSize: 16
                                    }
                                  }
                                });
                                new Chart("anual", {
                                  type: "bar",
                                  data: {
                                    labels: xAnual,
                                    datasets: [{
                                      label: "Consumo en KW/h",
                                      backgroundColor: "rgba(255,0,0,0.5)",
                                      data: yAnualc
                                    },
                                    {
                                      label: "Consumo ahorrado en KW/h",
                                      backgroundColor: "rgba(178,222,39,0.8)",
                                      data: yAnualg
                                    }
                                    ]
                                  },
                                  options: {
                                    legend: {
                                      display: true, 
                                    },
                                    title: {
                                      display: true,
                                      text: "Ahorro anual",
                                      fontSize: 16
                                    }
                                  }
                                })
                            </script>
                        </div>
                        <a href="" class="btn btn-primary-gradient py-sm-3 px-4 px-sm-5 rounded-pill mt-3">Read More</a>
                    </div>
                </div>
            </div>
        </div>
        <!-- About End -->

        <!-- Pricing Start -->
        <div class="container-xxl py-5" id="configuracion">

             <!-- Process Start -->
            <div class="container-xxl py-5">
                <div class="container py-5 px-lg-5">
                    <div class="text-center pb-4 wow fadeInUp" data-wow-delay="0.1s">
                        <h1 class="mb-5">Configuracion</h1>
                    </div>
                    <div class="row gy-5 gx-4 justify-content-center">
                        <div class="col-lg-4 col-sm-6 text-center pt-4 wow fadeInUp" data-wow-delay="0.1s">
                            <div class="position-relative bg-light rounded pt-5 pb-4 px-4">
                                <div class="d-inline-flex align-items-center justify-content-center bg-primary-gradient rounded-circle position-absolute top-0 start-50 translate-middle shadow" style="width: 100px; height: 100px;">
                                    <i class="fa fa-cog fa-3x text-white"></i>
                                </div>
                                <h5 class="mt-4 mb-3">Cambiar nombre de usuario</h5>
                                <p class="mb-0">Tempor erat elitr rebum clita dolor diam ipsum sit diam amet diam eos erat ipsum et lorem et sit sed stet</p>
                            </div>
                        </div>
                        <div class="col-lg-4 col-sm-6 text-center pt-4 wow fadeInUp" data-wow-delay="0.3s">
                            <div class="position-relative bg-light rounded pt-5 pb-4 px-4">
                                <div class="d-inline-flex align-items-center justify-content-center bg-secondary-gradient rounded-circle position-absolute top-0 start-50 translate-middle shadow" style="width: 100px; height: 100px;">
                                    <i class="fa fa-address-card fa-3x text-white"></i>
                                </div>
                                <h5 class="mt-4 mb-3">Cambiar contrasenia</h5>
                                <p class="mb-0">Tempor erat elitr rebum clita dolor diam ipsum sit diam amet diam eos erat ipsum et lorem et sit sed stet</p>
                            </div>
                        </div>
                        <div class="col-lg-4 col-sm-6 text-center pt-4 wow fadeInUp" data-wow-delay="0.5s">
                            <div class="position-relative bg-light rounded pt-5 pb-4 px-4">
                                <div class="d-inline-flex align-items-center justify-content-center bg-primary-gradient rounded-circle position-absolute top-0 start-50 translate-middle shadow" style="width: 100px; height: 100px;">
                                    <i class="fa fa-check fa-3x text-white"></i>
                                </div>
                                <h5 class="mt-4 mb-3">Enjoy The Features</h5>
                                <p class="mb-0">Tempor erat elitr rebum clita dolor diam ipsum sit diam amet diam eos erat ipsum et lorem et sit sed stet</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            
        <!-- Contact Start -->
        <div class="container-xxl py-5" id="contact">
            <div class="container py-5 px-lg-5">
                <div class="text-center wow fadeInUp" data-wow-delay="0.1s">
                    <h5 class="text-primary-gradient fw-medium"></h5>
                    <h1 class="mb-5">Estemos en contacto!</h1>
                </div>
                <div class="row justify-content-center">
                    <div class="col-lg-9">
                        <div class="wow fadeInUp" data-wow-delay="0.3s">
                            <p class="text-center mb-4">Si tenes alguna consulta, necesitas un service o un chequeo del sistema, no dudes en contactarnos!</p>
                            <form>
                                <div class="row g-3">
                                    <div class="col-md-6">
                                        <div class="form-floating">
                                            <input type="text" class="form-control" id="name" placeholder="Your Name">
                                            <label for="name">Nombre</label>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-floating">
                                            <input type="email" class="form-control" id="email" placeholder="Your Email">
                                            <label for="email">Mail</label>
                                        </div>
                                    </div>
                                    <div class="col-12">
                                        <div class="form-floating">
                                            <input type="text" class="form-control" id="subject" placeholder="Subject">
                                            <label for="subject">Sujeto</label>
                                        </div>
                                    </div>
                                    <div class="col-12">
                                        <div class="form-floating">
                                            <textarea class="form-control" placeholder="Leave a message here" id="message" style="height: 150px"></textarea>
                                            <label for="message">Mensaje</label>
                                        </div>
                                    </div>
                                    <div class="col-12 text-center">
                                        <button class="btn btn-primary rounded-pill py-3 px-5" type="submit">Enviar mensaje</button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Contact End -->
        

        <!-- Footer Start -->
        <div class="container-fluid bg-primary text-light footer wow fadeIn" data-wow-delay="0.1s">
            <div class="container py-5 px-lg-5">
                <div class="row g-5">
                    <div class="col-md-6 col-lg-3">
                        <h4 class="text-white mb-4">Address</h4>
                        <p><i class="fa fa-map-marker-alt me-3"></i>123 Street, New York, USA</p>
                        <p><i class="fa fa-phone-alt me-3"></i>+012 345 67890</p>
                        <p><i class="fa fa-envelope me-3"></i>info@example.com</p>
                        <div class="d-flex pt-2">
                            <a class="btn btn-outline-light btn-social" href=""><i class="fab fa-twitter"></i></a>
                            <a class="btn btn-outline-light btn-social" href=""><i class="fab fa-facebook-f"></i></a>
                            <a class="btn btn-outline-light btn-social" target= "_blank" href="https://instagram.com/solarlink.ar/"><i class="fab fa-instagram"></i></a>
                            <a class="btn btn-outline-light btn-social" href=""><i class="fab fa-linkedin-in"></i></a>
                        </div>
                    </div>
                    <div class="col-md-6 col-lg-3">
                        <h4 class="text-white mb-4">Quick Link</h4>
                        <a class="btn btn-link" href="">About Us</a>
                        <a class="btn btn-link" href="">Contact Us</a>
                        <a class="btn btn-link" href="">Privacy Policy</a>
                        <a class="btn btn-link" href="">Terms & Condition</a>
                        <a class="btn btn-link" href="">Career</a>
                    </div>
                    <div class="col-md-6 col-lg-3">
                        <h4 class="text-white mb-4">Popular Link</h4>
                        <a class="btn btn-link" href="">About Us</a>
                        <a class="btn btn-link" href="">Contact Us</a>
                        <a class="btn btn-link" href="">Privacy Policy</a>
                        <a class="btn btn-link" href="">Terms & Condition</a>
                        <a class="btn btn-link" href="">Career</a>
                    </div>
                    <div class="col-md-6 col-lg-3">
                        <h4 class="text-white mb-4">Newsletter</h4>
                        <p>Lorem ipsum dolor sit amet elit. Phasellus nec pretium mi. Curabitur facilisis ornare velit non vulpu</p>
                        <div class="position-relative w-100 mt-3">
                            <input class="form-control border-0 rounded-pill w-100 ps-4 pe-5" type="text" placeholder="Your Email" style="height: 48px;">
                            <button type="button" class="btn shadow-none position-absolute top-0 end-0 mt-1 me-2"><i class="fa fa-paper-plane text-primary-gradient fs-4"></i></button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="container px-lg-5">
                <div class="copyright">
                    <div class="row">
                        <div class="col-md-6 text-center text-md-start mb-3 mb-md-0">
                            &copy; <a class="border-bottom" href="#">Your Site Name</a>, All Right Reserved. 
							
							<!--/*** This template is free as long as you keep the footer author’s credit link/attribution link/backlink. If you'd like to use the template without the footer author’s credit link/attribution link/backlink, you can purchase the Credit Removal License from "https://htmlcodex.com/credit-removal". Thank you for your support. ***/-->
							Designed By <a class="border-bottom" href="https://htmlcodex.com">HTML Codex</a>
                        </div>
                        <div class="col-md-6 text-center text-md-end">
                            <div class="footer-menu">
                                <a href="">Home</a>
                                <a href="">Cookies</a>
                                <a href="">Help</a>
                                <a href="">FQAs</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Footer End -->


        <!-- Back to Top -->
        <a href="#" class="btn btn-lg btn-lg-square back-to-top pt-2"><i class="bi bi-arrow-up text-white"></i></a>
    </div>

    <!-- JavaScript Libraries -->
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/js/bootstrap.bundle.min.js"></script>
    <script src="{% static 'user_mngmnt/lib/wow/wow.min.js' %}"></script>
    <script src="{% static 'user_mngmnt/lib/easing/easing.min.js' %}"></script>
    <script src="{% static 'user_mngmnt/lib/waypoints/waypoints.min.js' %}"></script>
    <script src="{% static 'user_mngmnt/lib/counterup/counterup.min.js' %}"></script>
    <script src="{% static 'user_mngmnt/lib/owlcarousel/owl.carousel.min.js' %}"></script>

    <!-- Template Javascript -->
    <script src="{% static 'user_mngmnt/js/main.js' %}"></script>
</body>

</html>