*{
   margin:0;
   padding: 0;
   box-sizing: border-box;
}

/*
Header.
*/

header{
   width: 100%;
   height: max(2vw, 50px);
   display: flex;
   flex-direction: row;
   background: #0b1e33;  
   background: #FDDB3A;
   background-size: cover;
   background-attachment: fixed;
   position: relative;
}

header .textos-indice{
   display: flex;
   height: 50px;
   width: 100%;
   align-items: center;
   justify-content: top;
   flex-direction: row;
   justify-content: right;
}

header .logo{
   display: flex;
   object-fit: cover;
   height: max(2vw, 50px);
   width: 100%;
   justify-content: left;
}

header .logo > img {
   width: 50px;
   display: flex;
}

.textos-indice h1{
   font-size: max(1vw, 20px);
   padding: 0px 5px;
   color: #fff;
}
 
.textos-indice a{
   color: #fff;
   text-decoration: none;
}

/*
Body, elementos generales.
*/

body{
   font-family: 'open sans';
   min-height: 100vh;
   display: flex;
   flex-direction: column;
   background: url(https://media.discordapp.net/attachments/979766939381534850/1103406461339566282/Fondo_4.png?width=683&height=427);   
}

.blank-background {
   background: #fff;
   min-width: 90%;
   position: absolute;
   min-height: 100vh;
}

@media (max-width: 700px) {
   .contenedor{
   padding: 0px 0px 25px 0px;
   width: 100%;
   background: #fff;
   display: flex;
   flex-direction: column;
   align-items: center;
   margin: auto;
   overflow: hidden;
   }
}

@media (min-width: 700px) {
   .contenedor{
   padding: 0px 0px 25px 0px;
   width: 90%;
   background: #fff;
   display: flex;
   flex-direction: column;
   align-items: center;
   margin: auto;
   overflow: hidden;
   }
}

.titulo{
   color: #013c58;
   font-size: max(1.3vw, 30px);
   text-align: center;
   margin-bottom: 30px;
   padding: 30px 0px 0px;
}

.contenedor-texto h3{
   margin-bottom: 15px;
   text-align: left;
   font-size: max(1.3vw, 25px);
}

.contenedor-texto p{
   padding: 0px 0px 30px 0px;
   font-weight: 300;
   text-align: left;
   font-size: max(1.2vw, 20px);
   min-width: 48%
}

main{
   display: flex;
   align-items: center;
   flex-direction: column;
}

/*
Acerca de.
*/

/*
@media (max-width: 700px) {
}
*/

@media (max-width: 700px) {
   .contenedor-acerca-del-proyecto {
   width: 90%;
   overflow: hidden;
   display: flex;
   justify-content: center;
   flex-direction: column;
   align-items: center;
   }
}
 
@media (min-width: 700px) {
   .contenedor-acerca-del-proyecto {
   width: 90%;
   overflow: hidden;
   display: flex;
   justify-content: space-evenly;
   align-items: center;
   }
}

.contenedor-que-somos {
   width: 90%;
   overflow: hidden;
   display: flex;
   justify-content: center;
   flex-direction: column;
   align-items: center;
}

.contenedor-que-somos .contenedor-texto p{
   text-align: left; 
   padding: 15px 15px;
}

.contenedor-acerca-del-proyecto .imagen-acerca{
   min-width: 30%;
   width: 48%;
   display: flex;
   margin: auto;
}

/*
Carousel de galería.
*/

.contenedor-carousel {
   max-width: 85%;
   max-height: 30%;
   margin-right: 0;
   margin-left: 0;
   border-width: 0.2rem;
}

@media (max-width: 700px) {
   .contenedor-carousel {
      max-width: 100%;
   }
}

.carousel-item img {
   max-height: 100%;
   max-width: 100%;
}

/*
Presentación de los miembros.
*/

.Los-chicos-a-cargo{
   background: #fff;
   margin: 0 auto;
   padding: 5px 0px 5px 0px;
}

.chicos{
   display: flex;
   justify-content: space-evenly;
   flex-wrap: wrap;
}

.imagen-chicos{
   width: 24%;
   margin-bottom: 10px;
   margin: 0px 20px;
   overflow: hidden;
   position: relative;
   height: fit-content;
   display: flex;
   align-items: center;
   flex-direction: column;
}

.imagen-chicos > a > img{
   width: 100%;
   height: 100%;
   object-fit: cover;
   display: block;
   width: max(8vw, 4rem);
   border-radius: 50%;
}

.imagen-chicos h3 {
   margin-bottom: 1px 0px 1px 0px;
   text-align: center;
   font-size: max(1.2vw, 20px);
}

.texto-contacto p {
   padding: 0px 0px 10px 0px;
   font-size: 1.2vw;
   text-align: center;
}

/*
Galería.
*/

div.gallery {
   border: 1px solid #ccc;
}

div.gallery:hover {
   border: 1px solid #777;
}

div.gallery img {
   width: 100%;
   height: auto;
}

div.desc {
   padding: 15px;
   text-align: center;
}

* {
   box-sizing: border-box;
}

.responsive {
   padding: 0 6px;
   float: left;
   width: 24.99999%;
}

@media only screen and (max-width: 700px) {
.responsive {
   width: 49.99999%;
   margin: 6px 0;
}
}

@media only screen and (max-width: 500px) {
.responsive {
   width: 100%;
}
}

.clearfix:after {
   content: "";
   display: table;
   clear: both;
}

/*
Footer.
*/

footer{
   background: #41444B;
   height: 120px;
   margin-top: auto;
   overflow: hidden;
   display: flex;
   justify-content: center;
   flex-direction: column;
}

.contenedor-footer{
   display: flex;
   width: 90%;
   justify-content: space-evenly;
   margin: auto;
}

.content-foot{
   text-align: center;
}

.content-foot h4{
   color: #fff;
   border-bottom: 3px solid #52575D;
   padding-bottom: 3px;
   margin-bottom: 3px;
}

.content-foot a{
   color: #fff;
   text-decoration: none;
}

.content-foot a:hover{
   tab-size: 12px;
   text-decoration: underline;
   color: #B2B1B9;
}

.content-foot p{
   color: #fff;
}

.titulo-final{
   text-align: center;
   font-size: max(1vw, 19px);
   margin: 0px 0 10px 0;
   color: #B2B1B9;
}

@media screen and (max-width:900px){

}