<!DOCTYPE html>

{% load static %}
{% load compress static %}

<html>

  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.0/css/all.min.css" rel="stylesheet">
    <link rel="shortcut icon" href="{% static 'general/img/favicon-32x32.png' %}" type="image/x-icon">

    {% comment %}
      Compresor para poder usar static directions en el registro.scss
    {% endcomment %}
    {% compress css %}
    <link rel="stylesheet" type="text/x-scss" href="{% static "user_mngmnt/css/registro.scss" %}" />
    <link href="{% static 'user_mngmnt/css/bootstrap.min.css' %}" rel="stylesheet">
    {% endcompress %}
    {% block head %}
    {% endblock %}

  </head>

  {% block body %}
  {% endblock %}
</html>