{% if not done %}
    <form method = "POST" action="{% url 'password_set' %}{{token}}">
        {% csrf_token %}
        <br/>
        {{ form.password1.label }}
        <br/>
        {{ form.password1 }}
        <br/>
        <br/>
        {{ form.password2.label }}
        <br/>
        {{ form.password2 }}
        <br/>
        <input class ="btn btn-primary" type="submit" value= "Confirmar" />
        <br/>
    </form>
    {{error}}
{% else %}
    Contraseña cambiada!
    <a href={% url 'login'%}><button >Iniciar sesión</button></a>
{% endif %}