{% extends 'form.html' %}
{% load static %}
{% load compress static %}

<head>
    {% block head %}
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <meta http-equiv="X-UA-Compatible" content="ie=edge">
      <title>Solar Link | Registro</title>
      {% compress css %}
      <link rel="stylesheet" type="text/x-scss" href="{% static "user_mngmnt/css/registro.scss" %}" />
      {% endcompress %}
    {% endblock %}
  </head>
  
  {% block body %}
    <body>
      <section class="form-register">
        {% if done %}
            <h4>Ya se envio el mail a tu casilla de correo.</h4>
            <a href={% url 'index'%}><button class="botons">Inicio</button></a>

        {% else %}
            <form method = "POST" action="{% url 'password_reset' %}">
                {% csrf_token %}
                <h4>Introduce tu mail</h4>
                <input class='controls' type="text" placeholder="Mail" name="email">
                <input class='botons' type="submit" value="Continuar" href="">
            </form>
        {% endif %}
      </section>
  
    </body>
  {% endblock %}
  

