{% extends 'form.html' %}
{% load static %}
{% load compress static %}


<head>
  {% block head %}
    <title>Solar Link | Registro</title>

  {% endblock %}
</head>

{% block body %}
  <body>
    <section class="form-register">
      {% if request.user_agent.is_mobile %}
      {% else %}
        <a href="{% url 'index' %}" class="imagen"><i class="fa fa-home fa-2x"></i></a>
      {% endif %}
      <h4>Registro</h4>
      <form method = "POST" action="{% url 'signup' %}">
        {% csrf_token %}
        {{form.first_name}}
        {{form.last_name}}
        {{form.email}}
        {{form.username}}
        {{form.password1}}
        {{form.password2}}
        {{error}}
        <input class="botons rounded-pill" type="submit" value="Registrarse">
      <form method = "POST" action="{% url 'login' %}">
      <p><a href="{% url 'login' %}">Ya tengo cuenta</a></p>
    </section>

  </body>
{% endblock %}