@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600;700&display=swap");
/* line 3, c:/users/admin/documents/github/solarlink/solarlinkwebapp/static/home/css/master.scss */
:root {
  --padding-container: 100px 0;
  --color-title: #001A49; }

/* line 8, c:/users/admin/documents/github/solarlink/solarlinkwebapp/static/home/css/master.scss */
body {
  font-family: 'Poppins', sans-serif; }

/* line 12, c:/users/admin/documents/github/solarlink/solarlinkwebapp/static/home/css/master.scss */
.container {
  width: 90%;
  max-width: 1200px;
  margin: 0 auto;
  overflow: hidden;
  padding: var(--padding-container); }

/* line 20, c:/users/admin/documents/github/solarlink/solarlinkwebapp/static/home/css/master.scss */
.hero {
  width: 100%;
  height: 100vh;
  min-height: 600px;
  max-height: 800px;
  position: relative;
  display: grid;
  grid-template-rows: 100px 1fr;
  color: #fff; }

/* line 31, c:/users/admin/documents/github/solarlink/solarlinkwebapp/static/home/css/master.scss */
.hero::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: linear-gradient(180deg, #0000008c 0%, #0000008c 100%), url(/static/general/img/fondito.png?eedf592fc406);
  background-size: cover;
  clip-path: polygon(0 0, 100% 0, 100% 80%, 50% 95%, 0 80%);
  z-index: -1; }

/* Nav */
/* line 47, c:/users/admin/documents/github/solarlink/solarlinkwebapp/static/home/css/master.scss */
.nav {
  --padding-container: 0;
  height: 100%;
  display: flex;
  align-items: center; }

/* line 54, c:/users/admin/documents/github/solarlink/solarlinkwebapp/static/home/css/master.scss */
.nav__title {
  font-weight: 300; }

/* line 58, c:/users/admin/documents/github/solarlink/solarlinkwebapp/static/home/css/master.scss */
.nav__link {
  margin-left: auto;
  padding: 0;
  display: grid;
  grid-auto-flow: column;
  grid-auto-columns: max-content;
  gap: 2em; }

/* line 67, c:/users/admin/documents/github/solarlink/solarlinkwebapp/static/home/css/master.scss */
.nav__items {
  list-style: none; }

/* line 71, c:/users/admin/documents/github/solarlink/solarlinkwebapp/static/home/css/master.scss */
.nav__links {
  color: #fff;
  text-decoration: none; }

/* line 76, c:/users/admin/documents/github/solarlink/solarlinkwebapp/static/home/css/master.scss */
.nav__menu {
  margin-left: auto;
  cursor: pointer;
  display: none; }

/* line 82, c:/users/admin/documents/github/solarlink/solarlinkwebapp/static/home/css/master.scss */
.nav__img {
  display: block;
  width: 30px; }

/* line 88, c:/users/admin/documents/github/solarlink/solarlinkwebapp/static/home/css/master.scss */
.nav__close {
  display: var(--show, none); }

/* Hero container */
/* line 95, c:/users/admin/documents/github/solarlink/solarlinkwebapp/static/home/css/master.scss */
.hero__container {
  max-width: 800px;
  --padding-container: 0;
  display: grid;
  grid-auto-rows: max-content;
  align-content: center;
  gap: 1em;
  padding-bottom: 100px;
  text-align: center; }

/* line 106, c:/users/admin/documents/github/solarlink/solarlinkwebapp/static/home/css/master.scss */
.hero__title {
  font-size: 3rem;
  color: #fce93c; }

/* line 111, c:/users/admin/documents/github/solarlink/solarlinkwebapp/static/home/css/master.scss */
.hero__paragraph {
  margin-bottom: 20px; }

/* line 115, c:/users/admin/documents/github/solarlink/solarlinkwebapp/static/home/css/master.scss */
.cta {
  display: inline-block;
  background-color: #908f82;
  justify-self: center;
  color: #000000;
  text-decoration: none;
  padding: 13px 30px;
  border-radius: 32px; }

/* About */
/* line 127, c:/users/admin/documents/github/solarlink/solarlinkwebapp/static/home/css/master.scss */
.about {
  text-align: center; }

/* line 131, c:/users/admin/documents/github/solarlink/solarlinkwebapp/static/home/css/master.scss */
.subtitle {
  color: #000000;
  font-size: 2rem;
  margin-bottom: 25px; }

/* line 139, c:/users/admin/documents/github/solarlink/solarlinkwebapp/static/home/css/master.scss */
.about__paragraph {
  line-height: 1.7; }

/* line 143, c:/users/admin/documents/github/solarlink/solarlinkwebapp/static/home/css/master.scss */
.about__main {
  padding-top: 80px;
  display: grid;
  width: 90%;
  margin: 0 auto;
  gap: 1em;
  overflow: hidden;
  grid-template-columns: repeat(auto-fit, minmax(260px, auto)); }

/* line 154, c:/users/admin/documents/github/solarlink/solarlinkwebapp/static/home/css/master.scss */
.about__icons {
  display: grid;
  gap: 1em;
  justify-items: center;
  width: 260px;
  overflow: hidden;
  margin: 0 auto; }

/* line 163, c:/users/admin/documents/github/solarlink/solarlinkwebapp/static/home/css/master.scss */
.about__icon {
  width: 70px; }

/* Questions */
/* line 168, c:/users/admin/documents/github/solarlink/solarlinkwebapp/static/home/css/master.scss */
.questions {
  text-align: center; }

/* line 172, c:/users/admin/documents/github/solarlink/solarlinkwebapp/static/home/css/master.scss */
.questions__container {
  display: grid;
  gap: 2em;
  padding-top: 50px;
  padding-bottom: 100px; }

/* line 179, c:/users/admin/documents/github/solarlink/solarlinkwebapp/static/home/css/master.scss */
.questions__padding {
  padding: 0;
  transition: padding .3s;
  border: 1px solid;
  border-radius: 6px; }

/* line 186, c:/users/admin/documents/github/solarlink/solarlinkwebapp/static/home/css/master.scss */
.questions__padding--add {
  padding-bottom: 30px; }

/* line 190, c:/users/admin/documents/github/solarlink/solarlinkwebapp/static/home/css/master.scss */
.questions__answer {
  padding: 0 30px 0;
  overflow: hidden; }

/* line 195, c:/users/admin/documents/github/solarlink/solarlinkwebapp/static/home/css/master.scss */
.questions__title {
  text-align: left;
  display: flex;
  font-size: 20px;
  padding: 30px 0 30px;
  cursor: pointer;
  color: var(--color-title);
  justify-content: space-between; }

/* line 205, c:/users/admin/documents/github/solarlink/solarlinkwebapp/static/home/css/master.scss */
.questions__arrow {
  border-radius: 50%;
  background-color: var(--color-title);
  width: 25px;
  height: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
  align-self: flex-end;
  margin-left: 10px;
  transition: transform .3s; }

/* line 218, c:/users/admin/documents/github/solarlink/solarlinkwebapp/static/home/css/master.scss */
.questions__arrow--rotate {
  transform: rotate(180deg); }

/* line 222, c:/users/admin/documents/github/solarlink/solarlinkwebapp/static/home/css/master.scss */
.questions__show {
  text-align: left;
  height: 0;
  transition: height .3s; }

/* line 228, c:/users/admin/documents/github/solarlink/solarlinkwebapp/static/home/css/master.scss */
.questions__img {
  display: block; }

/* line 232, c:/users/admin/documents/github/solarlink/solarlinkwebapp/static/home/css/master.scss */
.questions__copy {
  width: 60%;
  margin: 0 auto;
  margin-bottom: 30px; }

/* Footer */
/* line 240, c:/users/admin/documents/github/solarlink/solarlinkwebapp/static/home/css/master.scss */
.footer {
  background-image: linear-gradient(180deg, #0000008c 0%, #0000008c 100%), url(/static/general/img/fondito.png?eedf592fc406);
  background-size: cover;
  clip-path: polygon 50% 19%, 100% 0, 100% 100%, 0 100%, 0 0;
  z-index: -1; }

/* line 249, c:/users/admin/documents/github/solarlink/solarlinkwebapp/static/home/css/master.scss */
.footer__title {
  font-weight: 300;
  font-size: 2rem;
  margin-bottom: 30px; }

/* line 255, c:/users/admin/documents/github/solarlink/solarlinkwebapp/static/home/css/master.scss */
.footer__title, .footer__newsletter {
  color: #fff; }

/* line 260, c:/users/admin/documents/github/solarlink/solarlinkwebapp/static/home/css/master.scss */
.footer__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #fff;
  padding-bottom: 60px; }

/* line 268, c:/users/admin/documents/github/solarlink/solarlinkwebapp/static/home/css/master.scss */
.nav--footer {
  padding-bottom: 20px;
  display: grid;
  gap: 1em;
  grid-auto-flow: row;
  height: 100%; }

/* line 276, c:/users/admin/documents/github/solarlink/solarlinkwebapp/static/home/css/master.scss */
.nav__link--footer {
  display: flex;
  margin: 0;
  margin-right: 20px;
  flex-wrap: wrap; }

/* line 283, c:/users/admin/documents/github/solarlink/solarlinkwebapp/static/home/css/master.scss */
.footer__inputs {
  margin-top: 10px;
  display: flex;
  overflow: hidden; }

/* line 289, c:/users/admin/documents/github/solarlink/solarlinkwebapp/static/home/css/master.scss */
.footer__input {
  background-color: #fff;
  height: 50px;
  display: block;
  padding-left: 10px;
  border-radius: 6px;
  font-size: 1rem;
  outline: none;
  border: none;
  margin-right: 16px; }

/* line 301, c:/users/admin/documents/github/solarlink/solarlinkwebapp/static/home/css/master.scss */
.footer__submit {
  margin-left: auto;
  display: inline-block;
  height: 50px;
  padding: 0 20px;
  background-color: #cdcbb7;
  border: none;
  font-size: 1rem;
  color: #fff;
  border-radius: 6px;
  cursor: pointer; }

/* line 314, c:/users/admin/documents/github/solarlink/solarlinkwebapp/static/home/css/master.scss */
.footer__copy {
  --padding-container: 30px 0;
  text-align: center;
  color: #fff; }

/* line 320, c:/users/admin/documents/github/solarlink/solarlinkwebapp/static/home/css/master.scss */
.footer__copyright {
  font-weight: 300; }

/* line 324, c:/users/admin/documents/github/solarlink/solarlinkwebapp/static/home/css/master.scss */
.footer__icons {
  margin-bottom: 10px; }

/* line 328, c:/users/admin/documents/github/solarlink/solarlinkwebapp/static/home/css/master.scss */
.footer__img {
  width: 30px; }

/* Media queries */
@media (max-width: 800px) {
  /* line 335, c:/users/admin/documents/github/solarlink/solarlinkwebapp/static/home/css/master.scss */
  .nav__menu {
    display: block; }
  /* line 339, c:/users/admin/documents/github/solarlink/solarlinkwebapp/static/home/css/master.scss */
  .nav__link--menu {
    position: relative;
    top: 40%;
    left: 0;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    z-index: 100;
    transition: .7s opacity; }
  /* line 352, c:/users/admin/documents/github/solarlink/solarlinkwebapp/static/home/css/master.scss */
  .nav__link--show {
    --show: block;
    opacity: 1;
    pointer-events: unset; }
  /* line 358, c:/users/admin/documents/github/solarlink/solarlinkwebapp/static/home/css/master.scss */
  .nav__close {
    position: absolute;
    top: 30px;
    right: 30px;
    width: 30px;
    cursor: pointer; }
  /* line 366, c:/users/admin/documents/github/solarlink/solarlinkwebapp/static/home/css/master.scss */
  .hero__title {
    font-size: 2.5rem; }
  /* line 371, c:/users/admin/documents/github/solarlink/solarlinkwebapp/static/home/css/master.scss */
  .about__main {
    gap: 2em; }
  /* line 375, c:/users/admin/documents/github/solarlink/solarlinkwebapp/static/home/css/master.scss */
  .about__icons:last-of-type {
    grid-column: 1/-1; }
  /* line 380, c:/users/admin/documents/github/solarlink/solarlinkwebapp/static/home/css/master.scss */
  .knowledge__container {
    grid-template-columns: 1fr;
    grid-template-rows: max-content 1fr;
    gap: 3em;
    text-align: center; }
  /* line 387, c:/users/admin/documents/github/solarlink/solarlinkwebapp/static/home/css/master.scss */
  .knowledge__picture {
    grid-row: 1/2;
    justify-self: center; }
  /* line 392, c:/users/admin/documents/github/solarlink/solarlinkwebapp/static/home/css/master.scss */
  .testimony__container {
    grid-template-columns: 30px 1fr 30px; }
  /* line 396, c:/users/admin/documents/github/solarlink/solarlinkwebapp/static/home/css/master.scss */
  .testimony__body {
    grid-template-columns: 1fr;
    grid-template-rows: max-content max-content;
    gap: 3em;
    justify-items: center; }
  /* line 404, c:/users/admin/documents/github/solarlink/solarlinkwebapp/static/home/css/master.scss */
  .testimony__img {
    width: 200px;
    height: 200px; }
  /* line 410, c:/users/admin/documents/github/solarlink/solarlinkwebapp/static/home/css/master.scss */
  .questions__copy {
    width: 100%; }
  /* line 414, c:/users/admin/documents/github/solarlink/solarlinkwebapp/static/home/css/master.scss */
  .footer__container {
    flex-wrap: wrap; }
  /* line 418, c:/users/admin/documents/github/solarlink/solarlinkwebapp/static/home/css/master.scss */
  .nav--footer {
    width: 100%;
    justify-items: center; }
  /* line 423, c:/users/admin/documents/github/solarlink/solarlinkwebapp/static/home/css/master.scss */
  .nav__link--footer {
    width: 100%;
    justify-content: space-evenly;
    margin: 0; }
  /* line 429, c:/users/admin/documents/github/solarlink/solarlinkwebapp/static/home/css/master.scss */
  .footer__form {
    width: 100%;
    justify-content: space-evenly; }
  /* line 434, c:/users/admin/documents/github/solarlink/solarlinkwebapp/static/home/css/master.scss */
  .footer__input {
    flex: 1; } }

@media (max-width: 600px) {
  /* line 441, c:/users/admin/documents/github/solarlink/solarlinkwebapp/static/home/css/master.scss */
  .hero__title {
    font-size: 2rem; }
  /* line 445, c:/users/admin/documents/github/solarlink/solarlinkwebapp/static/home/css/master.scss */
  .hero__paragraph {
    font-size: 1rem; }
  /* line 449, c:/users/admin/documents/github/solarlink/solarlinkwebapp/static/home/css/master.scss */
  .subtitle {
    font-size: 1.8rem; }
  /* line 453, c:/users/admin/documents/github/solarlink/solarlinkwebapp/static/home/css/master.scss */
  .price__element {
    width: 90%; }
  /* line 457, c:/users/admin/documents/github/solarlink/solarlinkwebapp/static/home/css/master.scss */
  .price__element--best {
    width: 90%;
    /* padding: 40px; */ }
  /* line 462, c:/users/admin/documents/github/solarlink/solarlinkwebapp/static/home/css/master.scss */
  .price__price {
    font-size: 2rem; }
  /* line 466, c:/users/admin/documents/github/solarlink/solarlinkwebapp/static/home/css/master.scss */
  .testimony {
    --padding-container: 60px 0; }
  /* line 470, c:/users/admin/documents/github/solarlink/solarlinkwebapp/static/home/css/master.scss */
  .testimony__container {
    grid-template-columns: 28px 1fr 28px;
    gap: .9em; }
  /* line 475, c:/users/admin/documents/github/solarlink/solarlinkwebapp/static/home/css/master.scss */
  .testimony__arrow {
    width: 100%; }
  /* line 479, c:/users/admin/documents/github/solarlink/solarlinkwebapp/static/home/css/master.scss */
  .testimony__course {
    margin-top: 15px; }
  /* line 483, c:/users/admin/documents/github/solarlink/solarlinkwebapp/static/home/css/master.scss */
  .questions__title {
    font-size: 1rem; }
  /* line 487, c:/users/admin/documents/github/solarlink/solarlinkwebapp/static/home/css/master.scss */
  .footer__title {
    justify-self: start;
    margin-bottom: 15px; }
  /* line 492, c:/users/admin/documents/github/solarlink/solarlinkwebapp/static/home/css/master.scss */
  .nav--footer {
    padding-bottom: 60px; }
  /* line 496, c:/users/admin/documents/github/solarlink/solarlinkwebapp/static/home/css/master.scss */
  .nav__link--footer {
    justify-content: space-between; }
  /* line 500, c:/users/admin/documents/github/solarlink/solarlinkwebapp/static/home/css/master.scss */
  .footer__inputs {
    flex-wrap: wrap; }
  /* line 504, c:/users/admin/documents/github/solarlink/solarlinkwebapp/static/home/css/master.scss */
  .footer__input {
    flex-basis: 100%;
    margin: 0;
    margin-bottom: 16px; }
  /* line 510, c:/users/admin/documents/github/solarlink/solarlinkwebapp/static/home/css/master.scss */
  .footer__submit {
    margin-right: auto;
    margin-left: 0;
    /* 
        margin:0;
        width: 100%;
        */ } }
